@tailwind base;
@tailwind components;
@tailwind utilities;

.blurred {
  filter: blur(7px); /* Adjust the blur amount as needed */
}

.unblurred {
  filter: blur(0px); /* Adjust the blur amount as needed */
}

.phoneNumber input:focus {
  outline: none;
}
.phoneNumber input {
  outline: none;
  background: transparent;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.has-tooltip:hover .tooltip {
  @apply visible z-50;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
